@import "src/mixin";

.component {
}

.headerRow {
  display: inline-grid;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  background: #fff;
  box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4);
  border-radius: 4px 4px 0 0;

  @include font-p1-semi-bold;
  color: #060a0d;
}

.headerCol {
  display: grid;
  row-gap: 4px;

  label {
    @include font-lb2-semi-bold;
    color: #717980;
  }
}

.contentRow {
  width: 100%;
  padding: 24px;

  background: #fff;
  box-shadow: 0 8px 16px rgba(113, 121, 128, 0.08), 0 0 0.5px rgba(6, 10, 13, 0.4);
  border-radius: 0 0 4px 4px;
}

.body {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
  width: 100%;
  margin-bottom: 32px;
}

.leftCol {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 0));
  row-gap: 24px;
  align-items: flex-start;
}

.rightCol {

}

.delegateBtn {
  width: 162px !important;
}
