.footer {
  background: var(--theme-body-color);
  grid-area: footer;
  margin-top: auto;
  padding: 64px 64px 32px;

  a {
    color: var(--theme-default-color);

    &:hover,
    &:active {
      color: var(--theme-primary-color);
    }
  }
}
