.footer {
  background: var(--theme-body-color);
  grid-area: footer;
  padding: 16px 64px 0;
  margin: auto 0 0;
}

.footerTop {
  border-top: 1px solid #e3e4e6;
  padding: 64px 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 40px 140px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.footerTopLeft {
  max-width: 200px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.socialLinks {
  display: flex;
  gap: 24px;
}

.footerTopRight {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 80px;
}

.navSection {
  ul {
    list-style-type: none;
    display: grid;
    gap: 16px;
  }
}

.footerBottom {
  border-top: 1px solid #e3e4e6;
  padding: 24px 0;
  display: grid;
  gap: 40px 16px;
  grid-template-columns: max-content 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .copyright {
      order: 2;
    }

    .footerBottomLinks {
      order: 1;
    }
  }
}

.copyright {
  color: var(--theme-icon-color);
}

.footerBottomLinks {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
