@import "src/mixin";

.component {
}

.header {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}

.headerLabel {
  @include font-h1-bold;
  color: #060a0d;
}
