@import 'src/styles/text';

.component {
  :global(.ant-modal-body) {
    padding: 0;
  }

  .separator {
    width: 100%;
    height: 1px;
    border-top: 1px solid var(--theme-border-color);
    margin: 16px 0;
  }
}

.list {
  margin: 0;
  padding: 16px 0;
}

.row {
  @include font-p1-semi-bold;
  padding: 16px 32px;
  display: flex;
  align-items: center;
}

.term {
  color: var(--theme-secondary-color);
  display: flex;
  align-items: center;
  font-weight: inherit;
}

.termIcon {
  margin-right: 16px;
}

.data {
  margin-left: auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: var(--theme-primary-color);
}

.dataIcon {
  margin-left: 8px;
}

.dataTotal {
  @include font-h3-bold;
}
