@import 'src/styles/text';

.inputWrapper {
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  display: flex;
  background-color: var(--theme-card-color);
}

.input {
  @include font-p1-semi-bold;
  border: 0;
  padding: 11px 12px;
  background-color: transparent;
  width: 100%;

  &.large {
    padding: 19px 20px;
  }
}

.before {
  border-right: 1px solid var(--theme-border-color);
  padding-left: 11px;
  padding-right: 11px;
  display: flex;
  align-items: center;

  &:empty {
    display: none;
  }

  &.large {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.text {
  @include font-sm-semi-bold;
  color: var(--theme-secondary-color);
  margin-bottom: 8px;
}
