.cards {
  display: grid;
  gap: 32px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;

  @media (max-width: 768px) {
    gap: 8px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

.alertLink {
  font-weight: bold;
  text-decoration: underline;
  color: var(--theme-yellow-color);
}
