@import 'src/styles/text';

.content {
  min-height: 24px;
}

.address {
  float: left;
  max-width: 200px;
}

div.paragraph:global(.ant-typography) {
  @include font-p1-regular;
  margin: 0;
  color: var(--theme-primary-color);

  &.expanded {
    white-space: pre-wrap;
  }
}
