@import "src/styles/mixin";

.address {
  float: left;
  max-width: 200px;
}

div.paragraph:global(.ant-typography) {
  margin: 0;
  @include font-p1-regular;
  
  &.expanded {
    white-space: pre-wrap;
  }
}