@import 'src/styles/text';

.component {
  background: var(--theme-card-color);
  border: 1px solid var(--theme-border-color);
  grid-area: sidebar;
  padding: 24px 12px;
  position: relative;

  @media (max-width: 768px) {
    flex-basis: 275px !important;
    height: 100%;
    left: -100%;
    min-width: 275px !important;
    position: fixed;
    width: 275px !important;
    z-index: 2;

    &.open {
      left: 0;
    }
  }

  :global(.ant-btn.ant-btn-link) {
    @include font-p2-regular;
    border-radius: 4px;
    color: var(--theme-icon-color);
    height: 48px;
    justify-content: flex-start;
    overflow: hidden;
    padding: 12px;
    width: 48px;

    &:hover {
      background: rgba(var(--theme-red-color-rgb), 0.08);
      color: var(--theme-red-color);

      .linkLabel {
        color: var(--theme-primary-color);
      }

      svg {
        color: var(--theme-red-color);
      }
    }

    svg {
      min-height: 24px;
      min-width: 24px;
    }
  }

  &.expanded {
    :global(.ant-btn.ant-btn-link) {
      width: 176px;
    }

    .hideLink svg {
      transform: rotate(-180deg);
    }
  }

  .navLink {
    position: relative;
  }

  .isActive {
    .activeTick {
      visibility: visible;
    }

    .linkLabel {
      color: var(--theme-primary-color);
    }

    :global(.ant-btn.ant-btn-link) svg {
      color: var(--theme-red-color);
    }
  }

  .activeTick {
    background: var(--theme-red-color);
    border-radius: 0 4px 4px 0;
    height: 48px;
    left: -13px;
    position: absolute;
    visibility: hidden;
    width: 4px;
  }

  .linkLabel {
    color: var(--theme-secondary-color);
  }

  .headerLogo {
    padding: 0 12px;
  }

  .footerWrap {
    bottom: 24px;
    position: fixed;
  }
}

.mask {
  background: var(--theme-mask-color);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 0;
  z-index: 1;

  &.open {
    visibility: visible;
    width: 100%;
  }
}

.closeButton {
  background-color: transparent;
  border: none;
  display: none;
  height: 24px;
  margin-right: 8px;
  padding: 0;
  width: 24px;

  @media (max-width: 768px) {
    display: block;
  }
}
