@import 'src/styles/mixin';

.component {
  position: relative;
  padding: 24px 12px;
  background: var(--color-card-bg);
  border: 1px solid var(--color-border);

  :global(.ant-btn.ant-btn-link) {
    justify-content: flex-start;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 4px;
    overflow: hidden;
    @include font-p2-regular;
    color: var(--text-color-grey500);

    &:hover {
      background: rgba(var(--text-color-grey900-rgb), 0.08);
      color: var(--text-color-grey900);

      svg {
        color: var(--text-color-grey900);
      }
    }

    svg {
      min-width: 24px;
      min-height: 24px;
    }
  }

  &.expanded {
    :global(.ant-btn.ant-btn-link) {
      width: 176px;
    }

    .hideLink svg {
      transform: rotate(-180deg);
    }
  }

  .navLink {
    position: relative;
  }

  .activeTick {
    position: absolute;
    left: -13px;
    width: 4px;
    height: 48px;
    background: var(--text-color-grey900);
    border-radius: 0 4px 4px 0;
    visibility: hidden;

    &.activeTickVisible {
      visibility: visible;
    }
  }

  .headerWrap {
    position: fixed;
    top: 24px;
  }

  .headerLogo {
    padding: 0 12px;
  }

  .footerWrap {
    position: fixed;
    bottom: 24px;
  }
}
