.text {
  &.weight-semibold.weight-semibold {
    font-weight: 600;
  }

  &.weight-bold.weight-bold {
    font-weight: bold;
  }

  &.h1 {
    font: var(--font-h1);
  }

  &.h2 {
    font: var(--font-h2);
  }

  &.h3 {
    font: var(--font-h3);
  }

  &.p1 {
    font: var(--font-p1);
  }

  &.p2 {
    font: var(--font-p2);
  }

  &.lb1 {
    font: var(--font-lb1);
  }

  &.lb2 {
    font: var(--font-lb2);
  }

  &.small {
    font: var(--font-sm);
  }

  &.primary-color {
    color: var(--theme-primary-color);
  }

  &.secondary-color {
    color: var(--theme-secondary-color);
  }

  &.red-color {
    color: var(--theme-red-color);
  }

  &.green-color {
    color: var(--theme-green-color);
  }

  &.blue-color {
    color: var(--theme-blue-color);
  }

  &.purple-color {
    color: var(--theme-purple-color);
  }

  &.yellow-color {
    color: var(--theme-yellow-color);
  }

  &.hasTooltip {
    text-decoration: underline dotted var(--theme-border-color);
    text-underline-offset: 4px;
  }
}

.hint.hint {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;

  .tooltip {
    align-self: start;
    line-height: initial;
    cursor: pointer;
  }

  .icon {
    &:hover {
      color: var(--theme-grey900-color);

      [data-theme='dark'] & {
        color: var(--theme-white-color);
      }
    }
  }
}
