@import 'src/styles/text';

.heading {
  display: block;
  width: auto;
  color: var(--theme-default-color);
}

h1.heading {
  @include font-h1-regular;

  &.bold {
    @include font-h1-bold;
  }

  &.semiBold {
    @include font-h1-semi-bold;
  }
}

h2.heading {
  @include font-h2-regular;

  &.bold {
    @include font-h2-bold;
  }

  &.semiBold {
    @include font-h2-semi-bold;
  }
}

h3.heading {
  @include font-h3-regular;

  &.bold {
    @include font-h3-bold;
  }

  &.semiBold {
    @include font-h3-semi-bold;
  }
}

.paragraph {
  display: block;
  width: auto;
  color: var(--theme-default-color);

  &.p1 {
    @include font-p1-regular;

    &.bold {
      @include font-p1-bold;
    }

    &.semiBold {
      @include font-p1-semi-bold;
    }
  }

  &.p2 {
    @include font-p2-regular;

    &.bold {
      @include font-p2-bold;
    }

    &.semiBold {
      @include font-p2-semi-bold;
    }
  }
}

.label {
  display: block;
  width: auto;
  color: var(--theme-default-color);

  &.lb1 {
    @include font-lb1-regular;

    &.bold {
      @include font-lb1-bold;
    }

    &.semiBold {
      @include font-lb1-semi-bold;
    }
  }

  &.lb2 {
    @include font-lb2-regular;

    &.bold {
      @include font-lb2-bold;
    }

    &.semiBold {
      @include font-lb2-semi-bold;
    }
  }
}

.small {
  display: block;
  width: auto;
  @include font-sm-regular;
  color: var(--theme-default-color);

  &.bold {
    @include font-sm-bold;
  }

  &.semiBold {
    @include font-sm-semi-bold;
  }
}

.text {
  font-weight: normal;
  color: var(--theme-default-color);

  &.weight-semibold {
    font-weight: 600;
  }

  &.weight-bold {
    font-weight: bold;
  }

  &.h1 {
    font-size: var(--font-size-h1);
    line-height: calc(var(--font-size-h1) + 8px);
  }

  &.h2 {
    font-size: var(--font-size-h2);
    line-height: calc(var(--font-size-h2) + 8px);
  }

  &.h3 {
    font-size: var(--font-size-h3);
    line-height: calc(var(--font-size-h3) + 6px);
  }

  &.p1 {
    font-size: var(--font-size-p1);
    line-height: calc(var(--font-size-p1) + 8px);
  }

  &.p2 {
    font-size: var(--font-size-p2);
    line-height: calc(var(--font-size-p2) + 10px);
  }

  &.lb1 {
    font-size: var(--font-size-lb1);
    line-height: calc(var(--font-size-lb1) + 10px);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &.lb2 {
    font-size: var(--font-size-lb2);
    line-height: calc(var(--font-size-lb2) + 4px);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &.small {
    font-size: var(--font-size-sm);
    line-height: calc(var(--font-size-sm) + 4px);
  }
}

.primary-color {
  color: var(--theme-primary-color);
}

.secondary-color {
  color: var(--theme-secondary-color);
}

.red-color {
  color: var(--theme-red-color);
}

.green-color {
  color: var(--theme-green-color);
}

.blue-color {
  color: var(--theme-blue-color);
}

div.hint {
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  column-gap: 8px;
  align-items: center;
  width: auto;

  .tooltip {
    align-self: start;
  }
}
