.component {
    max-width: 315px;
}

.component :global .ant-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorIcon {
    margin-bottom: 12px;
    width: 39px;
    height: 34px;
}

.headerLabel {
    margin-bottom: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color-1);
}

.text {
    margin-bottom: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-2);
}

.dismissBtn {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    background-color: var(--bg-color-3);
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--text-color-10);
}
