.component {

}

.headerLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: var(--text-color-1);
}

.backSvg svg {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    line-height: 21px;
    color: var(--text-color-4);
}

.dataRows {
    display: grid;
    grid-gap: 16px;
}

.tabs {
    margin: 32px 0 64px;
}

.tabs :global .ant-tabs-nav:before {
    border-bottom: none;
}

.tabs :global .ant-tabs-tab {
    color: var(--text-color-2);
}

.tabs :global .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--text-color-1);
}
