.tabs {
  :global(.ant-tabs-nav) {
    padding: 12px 24px 0 !important;
  }

  :global(.ant-tabs-tab) {
    padding-bottom: 24px;
  }
}

.search:global(.ant-input-affix-wrapper) {
  width: 300px;
  height: 48px;
  margin: 12px 24px;

  input {
    height: 100%;
  }
}
