@import "src/styles/mixin";

.tabs:global > {
  .ant-tabs-nav {
    height: 80px;
    margin-bottom: 0;
    padding: 0 24px;
    background: var(--color-card-bg);
    box-shadow: var(--shadow-card);
    border: 1px solid;
    border-color: var(--color-border);
    border-radius: 4px 4px 0 0;
  }
}

.activationThreshold {
  width: 100%;
}
