# Server Settings
PORT = 3000

# WebApp Settings
REACT_APP_HTML_TITLE = 'BarnBridge'

# Web3 Settings
REACT_APP_WEB3_CHAIN_ID = 1
REACT_APP_WEB3_POLLING_INTERVAL = 12000
REACT_APP_WEB3_RPC_ID = ''
REACT_APP_WEB3_FORTMATIC_API_KEY = ''
REACT_APP_WEB3_PORTIS_APP_ID = ''
REACT_APP_WEB3_SQUARELINK_CLIENT_ID = ''

# Deployed Contracts Addresses
REACT_APP_CONTRACT_DAI_ADDR = ''
REACT_APP_CONTRACT_USDC_ADDR = ''
REACT_APP_CONTRACT_SUSD_ADDR = ''
REACT_APP_CONTRACT_BOND_ADDR = ''
REACT_APP_CONTRACT_UNISWAP_V2_ADDR = ''
REACT_APP_CONTRACT_STAKING_ADDR = ''
REACT_APP_CONTRACT_COMMUNITY_VAULT_ADDR = ''
REACT_APP_CONTRACT_YIELD_FARM_ADDR = ''
REACT_APP_CONTRACT_YIELD_FARM_LP_ADDR = ''

# External APIs
REACT_APP_THEGRAPH_BB_SUBGRAPH_URL = ''
