.component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  grid-gap: 32px;
  width: 100%;
}

.link {
  font-weight: 600;
  color: var(--text-color-6);
}

.link:hover {
  color: var(--text-color-9);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .component {
    grid-gap: 6px;
  }
}
