.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 8px;

  &.green {
    background: var(--theme-green-color);
  }

  &.purple {
    background: var(--theme-purple-color);
  }
}
