@import "src/styles/mixin";

.table :global {
  .ant-table-thead .ant-table-cell {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
  }

  .ant-table-tbody:last-child .ant-table-row:last-child .ant-table-cell {
    border-bottom: none;
  }
}
