@import "src/mixin";

.table :global {
  .ant-table-thead .ant-table-cell {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
  }

  .ant-table-tbody:last-child .ant-table-row:last-child .ant-table-cell {
    border-bottom: none;
  }
}

.progress {
  & :global {
    .ant-progress-outer {
      max-width: 196px;
    }

    .ant-progress-text {
      margin-left: 24px;
    }

    .ant-progress-bg {
      background: #ff4339;
    }
  }
}
