.component {
  .list {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 24px;
  }

  .wrap {
    display: grid;
    grid-template-columns: 40px auto;
    grid-column-gap: 12px;
    align-items: center;
  }

  .content {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 4px;
  }

  .nameLabel {
    color: #060a0d;
  }

  .timeLabel {
    color: #717980;
  }
}
