.pagination {
  display: flex;
  gap: 8px;
}

.page,
.separator {
  color: var(--theme-secondary-color);
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.page {
  background-color: transparent;
  border: 0;
  padding: 0;

  &:hover {
    color: var(--theme-icon-hover-color);
  }

  &.prev,
  &.next {
    color: var(--theme-icon-color);

    &:disabled,
    &[disabled] {
      pointer-events: none;
    }

    &:hover {
      color: var(--theme-icon-hover-color);
    }
  }

  &.active {
    color: var(--theme-red-color);
    pointer-events: none;
  }
}

.separator {
  pointer-events: none;
}
