.container {
    min-height: 100vh;
}

.main {
    padding: 32px 64px;
    background-color: #f8f8f8;
}

.footer {
    padding: 64px 0 0;
    background-color: transparent;
    text-align: right;
}

.footerLinks a {
    margin-left: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #aaafb3;
}
