.container {
    min-height: 100vh;
}

.main {
    position: relative;
    background-color: var(--bg-color-1);
}

:global .mobile-menu-open  :local .main {
    max-height: 100vh;
    overflow: hidden;
}

.content {
    padding: 32px 64px;
}

.footer {
    padding: 64px 0 0;
    background-color: transparent;
    text-align: right;
}

.footerLinks a {
    margin-left: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-4);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .siderNav {
        display: none;
    }

    .content {
        padding: 32px 8px 64px;
    }

    .footer {
        display: none;
    }
}
