.view {
}

.walletRow {
    position: relative;
    margin-bottom: 64px;
}

.stats {
    margin: 16px 0 64px;
}

/* RESPONSIVE */
@media (max-width: 1400px) {
    .stats {
        margin-bottom: 32px;
    }

    .walletRow {
        margin-bottom: 32px;
    }

    .wallet {
        position: absolute;
        right: 0;
        top: -5px;
        z-index: 999;
    }
}
