.component {
  align-items: center;
  background: var(--theme-card-color);
  border-bottom: 1px solid var(--theme-border-color);
  display: flex;
  height: 72px;
  padding: 12px var(--horizontal-padding);
  position: sticky;
  top: 0;
  z-index: 3;

  @media (max-width: 768px) {
    overflow: auto hidden;
    padding: 24px;
  }

  .burger {
    @media (max-width: 768px) {
      margin-right: 16px;
      border: 0;
      background: transparent;
    }

    @media (min-width: 769px) {
      position: absolute;
      top: 24px;
      left: -24px;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      transform: translateX(50%);
      border: 1px solid var(--theme-border-color);
      border-radius: 50%;
      background-color: var(--theme-card-color);
    }
  }
}

.logo {
  display: none;
  margin-right: 8px;

  @media (max-width: 768px) {
    display: block;
  }
}

.title {
  margin-right: 16px;
  white-space: nowrap;
}

.addToken {
  padding: 8px;
  background-color: var(--theme-body-color);
  border-radius: 4px;
}

.actionButton {
  padding: 7px;
  background: var(--theme-body-color);
  border-radius: 4px;
  border: 0;
  font: var(--font-body2-semibold);
  color: var(--theme-secondary-color);
  display: flex;
  align-items: center;
  border: 1px solid var(--theme-body-color);
  gap: 8px;
}

.queuedPositions {
  overflow-y: auto;
  height: 320px;
}

.queuedPosition {
  display: flex;
  align-items: center;
  padding: 24px;
  position: relative;

  &:hover {
    background: rgba(var(--theme-secondary-color-rgb), 0.04);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background: var(--theme-red-color);
    }

    a {
      opacity: 1;
    }
  }

  &:focus-within {
    a {
      opacity: 1;
    }
  }

  a {
    opacity: 0.0001;
  }
}
