@import "../../../mixin";

.component {
  display: inline-grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 16px;
  column-gap: 16px;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 24px 64px;
  background: #fff;
  border-bottom: 1px solid #e3e4e6;
}

.title {
  @include font-h3-semi-bold;
  color: #060a0d;
}
