@import "../../../../styles/mixin";

.component {
}

.headerRow {
  width: 100%;
  padding: 24px;
  background: #fff;
  box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4);
  border-radius: 4px 4px 0 0;

  @include font-p1-semi-bold;
  color: #060a0d;

  label {
    @include font-lb2-semi-bold;
    color: #717980;
    margin-bottom: 4px;
  }
}

.tokenCol {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 12px;
  align-items: center;
}

.switchCol {
  justify-self: flex-end;
}

.contentRow {
  width: 100%;
  padding: 24px;

  background: #fff;
  box-shadow: 0 8px 16px rgba(113, 121, 128, 0.08), 0 0 0.5px rgba(6, 10, 13, 0.4);
  border-radius: 0 0 4px 4px;
}

.body {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px;
  width: 100%;
  margin-bottom: 32px;
}

.leftCol {
  display: grid;
  row-gap: 24px;
}

.rightCol {

}

.depositBtn {
  width: 162px !important;
}

.arrow {
  width: 40px;
  height: 40px !important;
  background-color: var(--bg-color-1);
  border-color: var(--color-border);
  border-radius: 4px;
}

.arrow:hover {
  background-color: var(--bg-color-6);
  border: 1px solid var(--bg-color-6);
}