@import "src/styles/mixin";

.arrow {
  width: 40px;
  height: 40px !important;
  background-color: var(--bg-color-1);
  border-color: var(--color-border);
  border-radius: 4px;
}

.arrow:hover {
  background-color: var(--bg-color-6);
  border: 1px solid var(--bg-color-6);
}