.component {
  height: 288px;

  :global(.ant-card-body) {
    padding: 0;
  }

  .row {
    padding: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--theme-border-color);
    }
  }
}
