@import 'src/styles/text';

.form {
  opacity: 1;
}

.item {
  margin-bottom: 0;

  :global(.ant-form-item-label) label {
    @include font-sm-semi-bold;
    display: inline-grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #717980;

    :global(.ant-form-item-tooltip) {
      width: 16px;
      height: 16px;
      color: var(--theme-icon-color);
    }
  }

  &:global(.ant-form-item-has-error) {
    :global(.ant-input),
    :global(.ant-input-group-addon) {
      background: inherit;
      border-color: var(--theme-red-color);
    }
  }
}
