.component {
}

.header {
    margin-bottom: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #060a0d;
}

.note {
    margin-bottom: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #717980;
}

.body {
    display: inline-grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 24px;
    width: 100%;
}

.option {
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 24px;
    background: #fff;
    border: 1px solid #e3e4e6;
    box-sizing: border-box;
    border-radius: 4px;
}

.option :global .ant-btn-loading-icon {
    position: absolute !important;
    top: 5px;
    right: 0;
}

.option :global .ant-btn-loading-icon svg {
    width: 24px;
    height: 24px;
}

.optionIcons {
    margin-bottom: 8px;
}

.optionLabel {
    margin-bottom: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #060a0d;
}

.optionRewardLabel {
    margin-bottom: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #717980;
}

.optionRewardValue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #5a6166;
}

.optionRewardValue strong {
    font-weight: 600;
    font-size: 16px;
    color: #060a0d;
}
