.component {
  min-width: 80px;
  height: 32px;
  padding: 8px 24px;
  border-radius: 32px;
  text-align: center;

  label {
    display: block;
  }

  &.ACCEPTED,
  &.EXECUTED {
    background: rgba(var(--theme-green-color-rgb), 0.08);

    label {
      color: var(--theme-green-color);
    }
  }

  &.WARMUP,
  &.ACTIVE,
  &.QUEUED,
  &.GRACE {
    background: rgba(var(--theme-blue-color-rgb), 0.08);

    label {
      color: var(--theme-blue-color);
    }
  }

  &.EXPIRED,
  &.FAILED,
  &.CANCELED,
  &.ABROGATED {
    background: rgba(var(--theme-red-color-rgb), 0.08);

    label {
      color: var(--theme-red-color);
    }
  }
}
