.component {
  min-width: 80px;
  height: 32px;
  padding: 8px 24px;
  border-radius: 32px;
  text-align: center;

  label {
    display: block;
  }

  &.ACCEPTED,
  &.EXECUTED {
    background-color: rgba(var(--text-color-green500-rgb), .08);
    color: var(--text-color-green500);
  }

  &.WARMUP,
  &.ACTIVE,
  &.QUEUED,
  &.GRACE {
    background-color: rgba(var(--text-color-blue500-rgb), .08);
    color: var(--text-color-blue500);
  }

  &.EXPIRED,
  &.FAILED,
  &.CANCELED {
    background-color: rgba(var(--text-color-red500-rgb), .08);
    color: var(--text-color-red500);
  }
}
