.component {
  :global(.ant-modal-body) {
    padding: 0;
  }

  .tabs:global > {
    .ant-tabs-nav {
      height: 80px;
      margin-bottom: 0;
      padding: 0 24px;
      background: var(--theme-card-color);
      box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);
      border: 1px solid var(--theme-border-color);
      border-radius: 4px 4px 0 0;
    }
  }

  .table :global {
    .ant-table-thead .ant-table-cell {
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top: 0;
    }

    .ant-table-tbody:last-child .ant-table-row:last-child .ant-table-cell {
      border-bottom: 0;
    }
  }

  .powerCell {
    line-height: 32px !important;
  }

  .forTag {
    min-width: 80px;
    height: 32px;
    padding: 8px 24px;
    border-radius: 32px;
    text-align: center;

    background: rgba(var(--theme-green-color-rgb), 0.08);
    color: var(--theme-green-color);
  }

  .againstTag {
    min-width: 80px;
    height: 32px;
    padding: 8px 24px;
    border-radius: 32px;
    text-align: center;

    background: rgba(var(--theme-red-color-rgb), 0.08);
    color: var(--theme-red-color);
  }
}
