@import 'node_modules/antd/lib/style/themes/default.less';
@import 'node_modules/antd/dist/antd.less';

@layout-sider-background: #fff;

@primary-color: #ff4339;

@border-radius-base: 4px;

@tooltip-bg: #fff;
@tooltip-color: #13202b;
@tooltip-distance: 20px;
@tooltip-max-width: 500px;

@modal-mask-bg: fade(#13202b, 80%);
@modal-content-bg: #fff;
@modal-close-color: #aaafb3;
@modal-body-padding: 32px;
