.tab-card {
  display: flex;
  background-color: var(--theme-card-color);
  box-shadow: var(--theme-card-shadow);
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  padding: 16px;
  min-width: 225px;
  text-align: left;
}

.tab-card.active {
  border-color: var(--theme-red-color);
}
