$color-red900: #4d1411;
$color-red800: #661b17;
$color-red700: #992822;
$color-red600: #cc362e; //
$color-red500: #ff4339; //
$color-red400: #ff6961; //
$color-red300: #ff8e88; //
$color-red200: #ffb4b0;
$color-red100: #ffd9d7;
$color-red50: #fff6f5;

$color-grey900: #060a0d; //
$color-grey800: #2d3033;
$color-grey700: #44494d;
$color-grey600: #5a6166;
$color-grey500: #717980; //
$color-grey400: #8d9499;
$color-grey300: #aaafb3; //
$color-grey200: #c6c9cc; //
$color-grey100: #e3e4e6; //
$color-grey50: #f8f8f9; //

$color-yellow900: #4d3f1d;
$color-yellow800: #665426; //
$color-yellow700: #997d3a; //
$color-yellow600: #cca74d;
$color-yellow500: #ffd160; //
$color-yellow400: #ffda80;
$color-yellow300: #ffe3a0;
$color-yellow200: #ffedbf;
$color-yellow100: #fff6df;
$color-yellow50: #fffdf7;

$color-purple900: #312144;
$color-purple800: #412c5b;
$color-purple700: #614288;
$color-purple600: #8258b6;
$color-purple500: #a26ee3;
$color-purple400: #b58be9;
$color-purple300: #c7a8ee;
$color-purple200: #dac5f4;
$color-purple100: #ece2f9;
$color-purple50: #faf8fe;

$color-blue900: #182045;
$color-blue800: #202a5c;
$color-blue700: #2f4089;
$color-blue600: #3f55b7; //
$color-blue500: #4f6ae6; //
$color-blue400: #7288ea; //
$color-blue300: #95a6ef; //
$color-blue200: #b9c3f5;
$color-blue100: #dce1fa;
$color-blue50: #f6f8fe;

$color-green900: #003f2d;
$color-green800: #00543c;
$color-green700: #007f59;
$color-green600: #00a977;
$color-green500: #00d395; //
$color-green400: #33dcaa;
$color-green300: #66e5bf;
$color-green200: #99edd5;
$color-green100: #ccf6ea;
$color-green50: #f2fdfa;
