@import 'antd.css';
@import 'flex';
@import 'grid';
@import 'box';
@import 'text';
@import 'utils';
@import 'button';
@import 'rechart';

body {
  background: var(--theme-body-color);
  color: var(--theme-secondary-color);
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: background 0.5s ease, color 0.5s ease;
}

svg,
svg * {
  transition: none !important;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

#root {
  min-height: 100vh;
}

body.mobile-menu-open {
  overflow: hidden;
}

.ant-notification-notice {
  word-break: break-word;
}

:root {
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-p1: 16px;
  --font-size-p2: 14px;
  --font-size-lb1: 14px;
  --font-size-lb2: 12px;
  --font-size-sm: 12px;
}

@media (max-width: 768px) {
  :root {
    --font-size-h1: 24px;
    --font-size-h2: 18px;
    --font-size-h3: 14px;
    --font-size-p1: 12px;
    --font-size-p2: 11px;
    --font-size-lb1: 11px;
    --font-size-lb2: 9px;
    --font-size-sm: 9px;
  }
}

:root {
  --theme-body-color: #f8f8f9; // grey50
  --theme-card-color: #fff;
  --theme-overlay-color: #fff;
  --theme-mask-color: rgba(19, 32, 43, 0.8);
  --theme-border-color: #e3e4e6; // grey100
  --theme-icon-color: #aaafb3; // grey300

  --theme-primary-color: #060a0d; // grey900
  --theme-secondary-color: #717980; // grey500
  --theme-secondary-color-rgb: 113, 121, 128; // grey500
  --theme-default-color: #aaafb3; // grey300

  --theme-card-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);
  --theme-modal-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 16px 32px rgba(19, 32, 43, 0.4);
  --theme-overlay-shadow: 0 0 0.5px rgba(0, 0, 0, 0.4), 0 32px 64px rgba(113, 121, 128, 0.32);

  --theme-red-color: #ff4339; // red500
  --theme-red-color-rgb: 255, 67, 57; // red500

  --theme-green-color: #00d395; // green500
  --theme-green-color-rgb: 0, 211, 149; // green500

  --theme-green700-color: #007f59;

  --theme-blue-color: #4f6ae6; // blue500
  --theme-blue-color-rgb: 79, 106, 230; // blue500

  --theme-yellow-color: #ffd160; // yellow500
  --theme-yellow-color-rgb: 255, 209, 96; // yellow500

  --theme-purple-color: #a26ee3; // purple500
  --theme-purple-color-rgb: 162, 110, 227; // purple500
  --theme-purple700-color: #614288;
}

[data-theme='dark'] {
  --theme-body-color: #202529;
  --theme-card-color: #282c30;
  --theme-overlay-color: #36393d;
  --theme-mask-color: rgba(32, 37, 41, 0.8);
  --theme-border-color: #43484d;
  --theme-icon-color: #606268;

  --theme-primary-color: #fff;
  --theme-secondary-color: #939496;
  --theme-default-color: #606268;

  --theme-card-shadow: 0 0 0.5px #fff, 0 8px 16px rgba(0, 0, 0, 0.08);
  --theme-modal-shadow: 0 0 0.5px #fff, 0 32px 64px rgba(0, 0, 0, 0.32);
  --theme-overlay-shadow: 0 0 0.5px #fff, 0 32px 64px rgba(0, 0, 0, 0.32);
}

:focus:not(:focus-visible) {
  outline: 0;
}

body.using-mouse :focus {
  outline: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
