@mixin font($size, $height, $weight: normal, $style: normal, $family: Montserrat) {
  font-family: $family;
  font-weight: $weight;
  font-style: $style;
  font-size: #{$size};
  line-height: #{$height};
}

@mixin font-label($size, $height, $weight: normal) {
  @include font($size, $height, $weight);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@mixin font-h1-bold {
  @include font(var(--font-size-h1), calc(var(--font-size-h1) + 8px), bold);
}

@mixin font-h1-semi-bold {
  @include font(var(--font-size-h1), calc(var(--font-size-h1) + 8px), 600);
}

@mixin font-h1-regular {
  @include font(var(--font-size-h1), calc(var(--font-size-h1) + 8px));
}

@mixin font-h2-bold {
  @include font(var(--font-size-h2), calc(var(--font-size-h2) + 8px), bold);
}

@mixin font-h2-semi-bold {
  @include font(var(--font-size-h2), calc(var(--font-size-h2) + 8px), 600);
}

@mixin font-h2-regular {
  @include font(var(--font-size-h2), calc(var(--font-size-h2) + 8px));
}

@mixin font-h3-bold {
  @include font(var(--font-size-h3), calc(var(--font-size-h3) + 6px), bold);
}

@mixin font-h3-semi-bold {
  @include font(var(--font-size-h3), calc(var(--font-size-h3) + 6px), 600);
}

@mixin font-h3-regular {
  @include font(var(--font-size-h3), calc(var(--font-size-h3) + 6px));
}

@mixin font-p1-bold {
  @include font(var(--font-size-p1), calc(var(--font-size-p1) + 8px), bold);
}

@mixin font-p1-semi-bold {
  @include font(var(--font-size-p1), calc(var(--font-size-p1) + 8px), 600);
}

@mixin font-p1-regular {
  @include font(var(--font-size-p1), calc(var(--font-size-p1) + 8px));
}

@mixin font-p2-bold {
  @include font(var(--font-size-p2), calc(var(--font-size-p2) + 10px), bold);
}

@mixin font-p2-semi-bold {
  @include font(var(--font-size-p2), calc(var(--font-size-p2) + 10px), 600);
}

@mixin font-p2-regular {
  @include font(var(--font-size-p2), calc(var(--font-size-p2) + 10px));
}

@mixin font-lb1-bold {
  @include font-label(var(--font-size-lb1), calc(var(--font-size-lb1) + 10px), bold);
}

@mixin font-lb1-semi-bold {
  @include font-label(var(--font-size-lb1), calc(var(--font-size-lb1) + 10px), 600);
}

@mixin font-lb1-regular {
  @include font-label(var(--font-size-lb1), calc(var(--font-size-lb1) + 10px));
}

@mixin font-lb2-bold {
  @include font-label(var(--font-size-lb2), calc(var(--font-size-lb2) + 4px), bold);
}

@mixin font-lb2-semi-bold {
  @include font-label(var(--font-size-lb2), calc(var(--font-size-lb2) + 4px), 600);
}

@mixin font-lb2-regular {
  @include font-label(var(--font-size-lb2), calc(var(--font-size-lb2) + 4px));
}

@mixin font-sm-bold {
  @include font(var(--font-size-sm), calc(var(--font-size-sm) + 4px), bold);
}

@mixin font-sm-semi-bold {
  @include font(var(--font-size-sm), calc(var(--font-size-sm) + 4px), 600);
}

@mixin font-sm-regular {
  @include font(var(--font-size-sm), calc(var(--font-size-sm) + 4px));
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-wrap {
  width: auto;
  white-space: pre-wrap;
  overflow: hidden;
}