* {
  margin: unset;
  padding: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg,
svg * {
  transition: none !important;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin: unset;
  padding: unset;
}

ol,
ul {
  list-style-type: none;
}

dd {
  margin-bottom: unset;
  margin-left: unset;
}

hr {
  border: 0;
  border-top: 1px solid var(--theme-border-color);
}
