@font-face {
  font-family: Montserrat;
  src: url('../resources/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: url('../resources/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url('../resources/fonts/Montserrat-Bold.ttf');
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis {
  @include text-ellipsis;
}

@mixin text-wrap {
  width: auto;
  white-space: pre-wrap;
  overflow: hidden;
}

.text-wrap {
  @include text-wrap;
}

.text-nowrap {
  white-space: nowrap;
}

$text-aligns: left, center, right;

@each $textAlign in $text-aligns {
  .text-#{$textAlign} {
    text-align: #{$textAlign};
  }
}

.text-h1 {
  font: var(--font-h1);
}

.text-h2 {
  font: var(--font-h2);
}

.text-h3 {
  font: var(--font-h3);
}

.text-p1 {
  font: var(--font-p1);
}

.text-p2 {
  font: var(--font-p2);
}

.text-lb1 {
  font: var(--font-lb1);
}

.text-lb2 {
  font: var(--font-lb2);
}

.text-sm {
  font: var(--font-sm);
}

.fw-bold.fw-bold {
  font-weight: bold;
}

.fw-semibold.fw-semibold {
  font-weight: 600;
}

.fw-normal {
  font-weight: normal;
}

.text-underline {
  text-decoration: underline;
}

.primary-color {
  color: var(--theme-primary-color);
}

.secondary-color {
  color: var(--theme-secondary-color);
}

.red-color {
  color: var(--theme-red-color);
}

.green-color {
  color: var(--theme-green-color);
}

.blue-color {
  color: var(--theme-blue-color);
}

.purple-color {
  color: var(--theme-purple-color);
}

.yellow-color {
  color: var(--theme-yellow-color);
}
