.component {
  :global(.ant-card-body) {
    padding: 0;
  }

  .row {
    padding: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid #e3e4e6;
    }
  }

  .actionNumber {
    min-width: 24px;
    height: 24px;
    padding: 4px;
    background: rgba(113, 121, 128, 0.08);
    border-radius: 4px;
    text-align: center;
  }
}
