.component {

}

.label {
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ff4339;
}

.row {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3px;
    height: 60px;
    margin-bottom: 64px;
}

.col {
    padding: 0 32px;
    border-right: 1px solid #e3e4e6;
}

.col:first-child {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.col:last-child {
    border-right: none;
}

.blockLabel {
    margin-bottom: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #5a6166;
}

.blockValue {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #060a0d;
}

.bondIcon {
    width: 24px;
    height: 24px;
    color: #ff4339;
    margin-left: 8px;
}

.harvestBtn {
    margin-left: 24px;
}

.modal {

}

.modalHeader {
    margin-bottom: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #060a0d;
}

.modalSubHeader {
    margin-bottom: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #717980;
}

.modalBody {
    display: inline-grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 24px;
    width: 100%;
}

.modalOption {
    position: relative !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 24px;
    background: #fff;
    border: 1px solid #e3e4e6;
    box-sizing: border-box;
    border-radius: 4px;
}

.modalOption :global .ant-btn-loading-icon {
    position: absolute !important;
    top: 5px;
    right: 0;
}

.modalOption :global .ant-btn-loading-icon svg {
    width: 24px;
    height: 24px;
}

.modalOptionIcons {
    margin-bottom: 8px;
}

.modalOptionLabel {
    margin-bottom: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #060a0d;
}

.modalOptionRewardLabel {
    margin-bottom: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #717980;
}

.modalOptionRewardValue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #5a6166;
}

.modalOptionRewardValue strong {
    font-weight: 600;
    font-size: 16px;
    color: #060a0d;
}
