.notification {
  &:hover svg {
    color: var(--theme-primary-color);
  }
}

.accountLink {
  &:global(.ant-popover-open) {
    .dropdownArrow {
      transform: rotate(-180deg);
    }
  }
}

.statusTag {
  background: rgba(0, 211, 149, 0.1);
  border-radius: 12px;
  padding: 4px 12px;
}

@media (max-width: 768px) {
  .walletAddress,
  .dropdownArrow {
    display: none;
  }
}
