.component {
}

.connectBtn {

}

.overlay {
    width: 320px;
}

.overlay :global .ant-popover-inner-content {
    padding: 0;
    box-shadow: 0 0 0.5px #fff, 0 32px 64px rgba(0, 0, 0, 0.64);
}

.overlay :global .ant-popover-arrow {
    border-color: var(--bg-color-2) !important;
}

.notificationBtn {
    cursor: pointer;
}

.notificationHeader {
    padding: 24px;
    border-bottom: 1px solid var(--border-color-1);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--bg-color-2);
    color: var(--text-color-1);
}

.notificationBody {
    padding: 24px;
    background-color: var(--bg-color-2);
    color: var(--text-color-1);
}

.notificationZero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 24px 0;
}

.notificationZero svg {
    width: 139px;
    height: 128px;
}

.notificationZero span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--text-color-2);
}

.walletBox {
    display: flex;
    flex-direction: row;
}

.divider {
    width: 1px;
    height: auto;
    margin: 0 24px;
    background-color: #e3e4e6;
}

.walletPreview {
    cursor: pointer;
}

.walletPreviewAvatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 4px;
}

.walletPreviewHash {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-6);
}

.walletPreviewArrow {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    transform: rotate(180deg);
}

.walletHeader {
    padding: 24px;
    align-items: center;
    background-color: var(--bg-color-2);
}

.walletAvatar {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 8px;
}

.walletHash {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #4f6ae6;
}

.stats {
    padding: 24px;
    background-color: var(--bg-color-2);
    border-top: 1px solid var(--border-color-1);
    border-bottom: 1px solid var(--border-color-1);
}

.statRow {
}

.statRow :global .ant-col:nth-child(2) {
    flex-grow: 1;
}

.statRow + .statRow {
    margin-top: 32px;
}

.statIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: var(--text-color-4);
}

.statName {
    flex-grow: 1;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-2);
}

.statValue {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-1);
}

.statTag {
    margin: 0;
    background-color: rgba(0, 211, 149, 0.1);
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #00d395;
}

.disconnectBtnRow {
    padding: 24px;
    background-color: var(--bg-color-2);
}

.disconnectBtn {
    width: 100%;
    height: 48px;
    background-color: rgba(255, 67, 57, 0.1);
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--text-color-3);
}
