@import "src/mixin";

.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.option {
  height: 92px;
  padding: 20px 32px;
  background: #fff !important;
  border: 1px solid #e3e4e6;
  border-radius: 4px !important;

  &:global(.ant-radio-button-wrapper-checked) .selector {
    border: 8px solid #ff4339;
  }
}

.option:global {
  &.ant-radio-button-wrapper::before {
    display: none;
  }
}

.wrap {
  display: inline-grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  width: 100%;
}

.info {
  @include font-p2-regular;
  color: #717980;

  label {
    @include font-lb2-semi-bold;
    color: #060a0d;
    padding-bottom: 4px;
  }

  strong {
    @include font-lb2-semi-bold;
    color: #060a0d;
  }
}

.selector {
  width: 24px;
  height: 24px;
  border: 2px solid #e3e4e6;
  border-radius: 50%;
}
