.tabs {
  :global(.ant-tabs-nav) {
    padding: 0 24px !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
  }

  :global(.ant-tabs-extra-content) {
    padding: 12px 0;
  }
}
