.cards {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 33.3333%));
  margin-top: 32px;
  margin-bottom: 32px;

  @media (max-width: 768px) {
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}
