.component {
  top: 0;
  bottom: 0;
  width: 100vw !important;
  height: 100vh;
  margin: 0 auto;
  padding: 24px;

  :global(.ant-modal-content) {
    height: 100%;
  }

  :global(.ant-modal-body) {
    padding: 106px 32px 32px;
  }
}
