.component {
  height: 288px;

  :global(.ant-card-body) {
    padding: 0;
  }

  .row {
    padding: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid #e3e4e6;
    }
  }

  .rowHeader {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .headerWrap {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 4px;

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: right;
    }
  }

  .headerLabel {
    color: #717980;
  }

  .headerHint {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8px;
  }

  .progress {
    :global(.ant-progress-bg) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
