@import 'src/styles/text';

.component {
  :global(.ant-table-title) {
    padding: 24px;
    border: 1px solid var(--theme-border-color);
    border-bottom: 0;

    &:empty {
      display: none;
    }
  }

  :global(.ant-table-thead .ant-table-cell) {
    @include font-sm-semi-bold;
    padding: 16px 24px;
    background: var(--theme-card-color);
    border-top: 1px solid var(--theme-border-color);
    border-bottom: 1px solid var(--theme-border-color);
    color: var(--theme-default-color);

    :global(.ant-table-column-sorters) {
      padding: 0;
    }
  }

  :global(.ant-table-container) {
    border-left: 1px solid var(--theme-border-color);
    border-right: 1px solid var(--theme-border-color);
  }

  :global(.card) > & {
    :global(.ant-table-container) {
      border-left: 0;
      border-right: 0;
    }

    :global(.ant-table-thead .ant-table-cell) {
      border-top: 0;
      border-radius: 0;
    }
  }

  :global(.ant-table-tbody) {
    :global(.ant-table-placeholder):hover {
      :global(.ant-table-cell) {
        background: var(--theme-card-color);
      }
    }

    :global(.ant-table-row):hover {
      :global(.ant-table-cell) {
        background: var(--theme-overlay-color);

        &:first-of-type {
          border-left: 2px solid var(--theme-red-color);
        }
      }
    }

    :global(.ant-table-cell) {
      padding: 16px 24px;
      background: var(--theme-card-color);
      border-bottom: 1px solid var(--theme-border-color);
      vertical-align: top;
      color: var(--theme-secondary-color);

      &:first-of-type {
        border-left: 2px solid transparent;
      }
    }
  }

  :global(.ant-table-footer) {
    background: var(--theme-card-color);

    &:empty {
      display: none;
    }
  }

  :global(.ant-pagination) {
    margin: 0;
    padding: 24px;
    background: var(--theme-card-color);
    // border: 1px solid var(--theme-border-color);
    border-radius: 0 0 4px 4px;

    :global(.ant-pagination-total-text) {
      @include font-p2-semi-bold;
      width: 100%;
      color: var(--theme-secondary-color);
      display: flex;
      align-items: center;
    }

    :global(.ant-pagination-item-link) {
      background: none;
      border: 0;
      color: var(--theme-icon-color);
    }

    :global(.ant-pagination-item-ellipsis) {
      color: var(--theme-icon-color);
    }

    :global(.ant-pagination-item) {
      background: none;
      border: 0;
      font-weight: 600;

      > a {
        color: #717980;

        [data-theme='dark'] & {
          color: #606268;
        }
      }

      &:global(.ant-pagination-item-active) > a {
        color: var(--theme-red-color);
      }
    }
  }
}
