@import 'src/styles/text';

.component:global(.ant-select.ant-select-single) {
  height: 48px;
  position: relative;

  &:global(.ant-select-sm) {
    height: 32px;

    :global(.ant-select-selector) {
      height: 32px;
      padding: 4px 24px 4px 16px;
    }
  }

  &:global(.ant-select-lg) {
    height: 64px;

    :global(.ant-select-selector) {
      height: 64px;
      padding: 20px 32px 20px 24px;
    }
  }

  &:global(.ant-select-open) {
    :global(.ant-select-arrow) svg {
      transform: rotate(-180deg);
    }

    :global(.ant-select-selector) {
      background: var(--theme-body-color);
    }
  }

  :global(.ant-select-selector) {
    background: var(--theme-card-color);
    border: 1px solid var(--theme-border-color);
    height: 48px;
    padding: 12px 32px 12px 16px;

    :global(.ant-select-selection-item),
    :global(.ant-select-selection-placeholder) {
      @include font-p1-semi-bold;
      color: var(--theme-primary-color);
    }
  }

  :global(.ant-select-arrow) {
    height: 24px;
    margin: 0;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;

    :global(.ant-spin) {
      margin-top: 4px;
    }
  }
}

.dropdown:global(.ant-select-dropdown) {
  background: var(--theme-overlay-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  padding: 4px;
  pointer-events: all !important;

  .option {
    height: 48px;
    padding: 12px;
    border-radius: 4px;

    &:global(.ant-select-item-option-selected) {
      background: var(--theme-overlay-color);
    }

    :global(.ant-select-item-option-content) {
      @include font-p2-semi-bold;
      color: var(--theme-secondary-color);
    }

    &:global(.ant-select-item-option-active) {
      background: var(--theme-border-color);

      :global(.ant-select-item-option-content) {
        color: var(--theme-primary-color);
      }
    }
  }
}
