.component.component {
  flex-shrink: 0;

  &:hover {
    --icon-display__light: none;
    --icon-display__dark: none;
    --icon-display__hover: block;
  }

  &.color-icon {
    color: var(--theme-icon-color);
  }

  &.color-primary {
    color: var(--theme-primary-color);
  }

  &.color-secondary {
    color: var(--theme-secondary-color);
  }

  &.color-red {
    color: var(--theme-red-color);
  }

  &.color-green {
    color: var(--theme-green-color);
  }

  &.color-blue {
    color: var(--theme-blue-color);
  }
}

[data-theme='light'] {
  .component {
    --icon-display__light: block;
  }
}

[data-theme='dark'] {
  .component {
    --icon-display__dark: block;
  }
}
