@import 'src/styles/text';

.component:global(.ant-picker) {
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  background: var(--theme-body-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;

  &:hover {
    background: var(--theme-body-color) !important;
  }

  &:global(.ant-picker-large) {
    height: 64px;
    padding: 20px 24px;
  }

  &:global(.ant-picker-disabled) {
    background: var(--theme-body-color);
    border: 1px solid var(--theme-border-color);

    &::placeholder {
      color: var(--theme-secondary-color);
    }
  }

  &:global(.ant-picker-focused) {
    border: 1px solid var(--theme-red-color);
    box-shadow: 0 0 0 3px rgba(255, 67, 57, 0.16);
  }

  :global(.ant-picker-input) {
    input {
      @include font-p1-semi-bold;
      color: var(--theme-primary-color);

      &::placeholder {
        color: var(--theme-default-color);
      }
    }

    :global(.ant-picker-suffix) {
      color: var(--theme-icon-color);
    }
  }
}

.dropdown:global(.ant-picker-dropdown) {
  :global(.ant-picker-panel-container) {
    background: var(--theme-overlay-color);

    :global(.ant-picker-panel) {
      border: 0;
    }

    :global(.ant-picker-cell-inner) {
      color: var(--theme-secondary-color);
    }

    :global(.ant-picker-header),
    :global(.ant-picker-header-super-prev-btn),
    :global(.ant-picker-header-prev-btn),
    :global(.ant-picker-header-next-btn),
    :global(.ant-picker-header-super-next-btn),
    :global(.ant-picker-time-panel-cell-inner),
    :global(.ant-picker-content) thead tr th {
      color: var(--theme-primary-color);
    }

    :global(.ant-picker-time-panel),
    :global(.ant-picker-time-panel-column) {
      border-left: 1px solid var(--theme-border-color);
    }

    :global(.ant-picker-header) {
      border-bottom: 1px solid var(--theme-border-color);
    }

    :global(.ant-picker-footer) {
      border-top: 1px solid var(--theme-border-color);
      border-bottom: 1px solid var(--theme-border-color);
    }

    :global(.ant-picker-time-panel-cell-selected) {
      :global(.ant-picker-time-panel-cell-inner) {
        background: var(--theme-red-color);
      }
    }

    :global(.ant-picker-time-panel-cell-inner):hover {
      background: var(--theme-red-color);
    }

    :global(.ant-picker-cell.ant-picker-cell-today.ant-picker-cell-selected) {
      :global(.ant-picker-cell-inner) {
        color: var(--theme-primary-color);
      }
    }
  }
}
