@import 'src/styles/text';

.overlay:global(.ant-tooltip) {
  :global(.ant-tooltip-inner) {
    max-width: 360px;
    padding: 16px;
    background: var(--theme-card-color);
    box-shadow: var(--theme-overlay-shadow);
    border-radius: 4px;
    @include font-p1-regular;
    color: var(--theme-primary-color);
  }

  :global(.ant-tooltip-arrow-content) {
    background: var(--theme-card-color);
  }
}
