@import 'src/styles/mixin';

.overlay:global(.ant-tooltip) {
  :global(.ant-tooltip-inner) {
    width: 360px;
    padding: 16px;
    background: var(--color-card-bg);
    box-shadow: 0 0 0.5px #fff, 0 32px 64px rgba(0, 0, 0, 0.32);
    border-radius: 4px;
    @include font-p1-regular;
    color: var(--text-color-grey900);
  }
}
