.chartWidget {
    background: #fff;
    box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);
    border-radius: 4px;
    margin-bottom: 32px;
}

.chartWidgetHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 89px;
    padding: 12px 24px;
    border-bottom: 1px solid #e3e4e6;
}

.chartWidgetHeadLabel {
    display: flex;
    flex-direction: row;
}

.chartWidgetIconSet {
    margin-right: 8px;
}

.chartWidgetHeadFilters > button {
    margin-left: 24px;
}

.wrapChart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    padding: 24px;
}

.tableWidget {
    background: #fff;
    box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);
    border-radius: 4px;
    margin-bottom: 32px;
}

.tableWidgetHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    padding: 12px 24px;
    border-bottom: 1px solid #e3e4e6;
}

.tableWidgetHeadLabel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #060a0d;
}

.tableWidgetHeadFilters > button {
    margin-left: 24px;
}

.table :global .ant-table-thead > tr > th {
    padding: 16px 24px 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #aaafb3;
}

.table :global .ant-table-tbody > tr > td {
    padding: 16px 24px 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #13202b;
}

.table :global .ant-table-tbody > tr > td a {
    color: #4f6ae6;
}
