.cardTitleContainer {
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 16px;
  min-height: 97px;

  @media (max-width: 480px) {
    gap: 24px 8px;
    display: flex;
    flex-wrap: wrap;
    min-height: inherit;

    button {
      width: 100%;
    }
  }
}

.cardTitleTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.box {
  margin: 24px;
  padding: 16px;
  background: rgba(113, 121, 128, 0.04);
  border: 1px solid rgba(113, 121, 128, 0.16);
  border-radius: 4px;
}
