.card {
  :global(.ant-card-body) > div:not(:last-of-type) {
    border-bottom: 1px solid var(--theme-border-color);
  }
}

.cardTitleContainer {
  @media (max-width: 480px) {
    display: block;
  }
}

.cardTitleStacking {
  @media (max-width: 480px) {
    margin-top: 8px;
    width: 100%;
  }
}

.box {
  margin: 24px;
  padding: 16px;
  background: rgba(113, 121, 128, 0.04);
  border: 1px solid rgba(113, 121, 128, 0.16);
  border-radius: 4px;
}
