.alert {
  font: var(--font-body2-medium);
  padding: 16px 24px;
  display: flex;
  border-radius: 8px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.info {
  background: rgba(68, 139, 244, 0.08);
  color: var(--theme-blue-color);
}

.warning {
  background: rgba(255, 167, 64, 0.08);
  color: var(--theme-yellow-color);
}

.error {
  background: rgba(255, 67, 57, 0.08);
  color: var(--theme-red-color);
}
