.alert {
  font: var(--font-p2);
  font-weight: 600;
  padding: 16px 24px;
  display: flex;
  border-radius: 4px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.info {
  background: rgba(79, 106, 229, 0.04);
  border: 1px solid rgba(79, 106, 229, 0.32);
  color: #4f6ae5;
}

.warning {
  background: rgba(204, 167, 77, 0.04);
  border: 1px solid rgba(204, 167, 77, 0.32);
  color: #cca74d;
}

.error {
  background: rgba(204, 167, 77, 0.04);
  border: 1px solid rgba(204, 167, 77, 0.32);
}
