.tableContainer {
  position: relative;

  &.loading {
    tbody {
      tr {
        filter: blur(1px) grayscale(1);
        pointer-events: none;
      }
    }
  }
}

.tableFooter {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 16px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
