.tableContainer {
  position: relative;

  &.loading {
    tbody {
      tr {
        filter: blur(1px) grayscale(1);
        pointer-events: none;
      }
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
