.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 578px;
  background-color: var(--theme-card-color);
  border-radius: 4px;
  padding: 32px;
  overflow-y: auto;
  max-height: 100vh;

  &.fullscreen {
    max-width: none;
    height: 100%;
    border-radius: 0;
    padding: 64px;
  }

  @media (max-width: 768px) {
    top: auto;
    bottom: 16px;
    left: 16px;
    right: 16px;
    transform: none;
    max-width: initial;
    width: auto;
  }
}

.closeButton {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: flex;
  flex-shrink: 0;
  color: var(--theme-icon-color);

  &:hover {
    color: var(--theme-icon-hover-color);
  }

  &.fullscreen {
    background-color: rgba(var(--theme-border-color-rgb), 0.4);
    padding: 8px;
    border-radius: 50%;
  }
}

.header {
  // padding: 32px;
  // border-bottom: 1px solid #ccc;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.heading {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.content {
  &.fullscreen {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}
