@import 'src/styles/mixin';

.component {
  :global(.ant-input-group-addon) {
    width: 72px;
  }
}

.addonBefore {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  border: 1px solid #e3e4e6;
  border-radius: 4px;
}
