.component {
  background: var(--theme-card-color);
  border-bottom: 1px solid var(--theme-border-color);
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.ratio {
  background: rgba(255, 67, 57, 0.08);
  border-radius: 18px;
  padding: 0 12px;
}
