.component {
  background: var(--theme-card-color);
}

.delimiter {
  width: 1px;
  height: 100%;
  border-right: 1px solid var(--theme-border-color);
}

.ratio {
  padding: 0 12px;
  background: rgba(255, 67, 57, 0.08);
  border-radius: 18px;
}
