.component {
  background: var(--color-card-bg);
}

.delimiter {
  width: 1px;
  height: 100%;
  border-right: 1px solid var(--color-border);
}

.ratio {
  padding: 0 12px;
  background: rgba(255, 67, 57, 0.08);
  border-radius: 18px;
}
