.tabs {
  flex-shrink: 0;

  > :global(.ant-tabs-nav) {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 74px;
    background-color: transparent;

    @media (max-width: 480px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stakeBlock {
  background: var(--theme-body-color);
  border-radius: 4px;
}
