.trendDetailsRow {
  display: grid;
  align-items: stretch;
  grid-template-columns: minmax(280px, 1fr) minmax(280px, 482px);
  gap: 32px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
