.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 392px));
  grid-auto-rows: auto;
  grid-gap: 32px;
}

.poolCard {
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--theme-border-color);
    border-radius: 0 4px 4px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(var(--pool-card-progress, 0) * 1%);
    height: 4px;
    background-image: linear-gradient(90deg, #4f6ae6 0%, #00d395 100%);
    border-radius: 0 4px 4px;
  }
}

.poolCardDlRow {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  dt {
    margin-right: 8px;
  }

  dd {
    margin-left: auto;
    text-align: right;
  }
}

.poolCardFooter {
  margin-top: auto;
  padding: 0 24px 24px;
}

.table {
  --border-color: rgba(0, 0, 0, 0.04);

  border-collapse: separate;
  border-spacing: 0 12px;

  [data-theme='dark'] & {
    --border-color: rgba(255, 255, 255, 0.04);
  }

  thead {
    th {
      background-color: rgba(0, 0, 0, 0.02);
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 20px 12px;

      [data-theme='dark'] & {
        background-color: rgba(255, 255, 255, 0.02);
      }

      &:first-of-type {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid var(--border-color);
        padding-left: 24px;
      }

      &:last-of-type {
        border-radius: 0 4px 4px 0;
        border-right: 1px solid var(--border-color);
        padding-right: 24px;
      }
    }
  }

  tbody {
    tr {
      box-shadow: 0 2px 4px rgba(6, 10, 13, 0.04);
      cursor: pointer;

      &:hover {
        box-shadow: 0 16px 32px rgba(255, 67, 57, 0.04);

        td {
          border-color: var(--theme-red-color);
        }

        .arrowIcon {
          visibility: visible;
        }
      }
    }

    td {
      background-color: var(--theme-card-color);
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 24px 12px;
      white-space: nowrap;

      &:first-of-type {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid var(--border-color);
        padding-left: 24px;
      }

      &:last-of-type {
        border-radius: 0 4px 4px 0;
        border-right: 1px solid var(--border-color);
        padding-right: 24px;
        position: relative;
      }
    }
  }
}

.arrowIcon {
  visibility: hidden;
}
