.component {
    background-color: var(--bg-color-2);
    box-shadow: 0 0 0.5px var(--shadow-color-1);
}

.component :global .ant-layout-sider-children {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    padding: 24px 0;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 65px;
    padding: 0 24px 0;
}

.logo > svg {
    width: 24px;
    height: 24px;
}

.brandName > svg {
    width: 130px;
    height: 24px;
    color: var(--text-color-1);
}

.themeToggle {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 0 24px 0;
    padding: 0 24px 0;
    color: var(--text-color-2);
}

.themeToggle svg {
    min-width: 24px;
    min-height: 24px;
    margin: 0 12px 0 0;
}

.expandBtn {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    margin-left: 48px;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-2);
}

.expandBtn svg {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    padding: 0;
    border: none;
    color: var(--text-color-4);
    transition: transform 0.4s ease;
}

.expanded .expandBtn svg {
    transform: rotate(-180deg);
}
