.tabs {
  > :global(.ant-tabs-nav) {
    border-top: none;
    border-left: none;
    border-right: none;
    height: 74px;
    background-color: transparent;

    @media (max-width: 480px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
