@import 'src/styles/text';

.tokenSelectList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--theme-card-color);
  box-shadow: var(--theme-overlay-shadow);
  padding: 4px;
  border-radius: 4px;
  max-width: 90vw;

  li:not(:last-of-type) {
    margin-bottom: 4px;
  }
}

.tokenSelectListButton {
  @include font-p2-semi-bold;
  background-color: transparent;
  border: 0;
  padding: 12px;
  display: flex;
  width: 100%;
  color: var(--theme-secondary-color);
  border-radius: 4px;
  text-align: left;

  &.active,
  &[aria-selected='true'] {
    color: var(--theme-primary-color);
  }

  &:hover {
    color: var(--theme-primary-color);
    background: var(--theme-body-color);
  }
}
