.tokenSelectList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--theme-card-color);
  box-shadow: var(--theme-overlay-shadow);
  padding: 4px;
  border-radius: 4px;
  max-width: 90vw;

  li:not(:last-of-type) {
    margin-bottom: 4px;
  }
}

.tokenSelectListButton {
  font: var(--font-p2);
  font-weight: 600;
  background-color: transparent;
  border: 0;
  padding: 12px;
  display: flex;
  width: 100%;
  color: var(--theme-secondary-color);
  border-radius: 4px;
  text-align: left;

  &.active,
  &[aria-selected='true'] {
    color: var(--theme-primary-color);
  }

  &:hover {
    color: var(--theme-primary-color);
    background: var(--theme-body-color);
  }
}

.dropdown {
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  width: 100%;
  background-color: var(--theme-card-color);

  &.large {
    height: 64px;
    padding: 0 24px;
  }
}

.dropdownChevron {
  color: var(--theme-icon-color);
  margin-left: auto;

  button:hover & {
    color: var(--theme-icon-hover-color);
  }
}
