.poolCards {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-bottom: 32px;

  @media (max-width: 768px) {
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
