@import "src/mixin";

.table :global {
  .ant-table-thead .ant-table-cell {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
  }

  .ant-table-tbody:last-child .ant-table-row:last-child .ant-table-cell {
    border-bottom: none;
  }
}

.proposalLabel {
  @include font-p1-semi-bold;
  color: #060a0d;
  margin-bottom: 8px;
}

.values {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 16px;
  align-items: center;
}

.proposalTag {
  width: 100px;
  height: 32px;
  padding: 8px 24px;
  background: rgba(79, 106, 230, 0.08);
  border-radius: 29px;
  @include font-lb2-bold;
  color: #4f6ae6;
}

.valueLabel {
  @include font-p2-semi-bold;
  color: #717980;
}

.progress {
  & :global {
    .ant-progress-outer {
      max-width: 196px;
    }

    .ant-progress-text {
      margin-left: 24px;
    }

    .ant-progress-bg {
      background: #ff4339;
    }
  }
}
