.component {
    background-color: var(--bg-color-2);
    box-shadow: 0 0 0.5px var(--shadow-color-1);
    border-color: var(--border-color-1);
    border-radius: 4px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 32px;
}

.label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-3);
}

.value {
    margin-top: 28px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color-1);
}

.hint {
    margin-top: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .component :global .ant-card-body {
        padding: 16px;
    }

    .value {
        margin-top: 16px;
        font-size: 14px;
        line-height: 24px;
    }

    .hint {
        margin-top: 8px;
        font-size: 12px;
        line-height: 16px;
        color: var(--text-color-2);
    }
}
