.checkbox {
  display: flex;
  align-items: center;

  input {
    display: none;

    &:checked ~ svg {
      background-color: var(--theme-red-color);
      border-color: var(--theme-red-color);
    }
  }

  &:hover {
    svg {
      border-color: var(--theme-red-color);
    }
  }

  &.hasChildren {
    svg {
      margin-right: 12px;
    }
  }

  &.size-small {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.size-normal {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  svg {
    border: 2px solid var(--theme-border-color);
    border-radius: 8px;
  }
}
