.statusDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 8px;

  background: var(--bg-color);

  &.red {
    --bg-color: var(--theme-red-color);
  }

  &.green {
    --bg-color: var(--theme-green-color);
  }

  &.blue {
    --bg-color: var(--theme-blue-color);
  }

  &.purple {
    --bg-color: var(--theme-purple-color);
  }
}
