@import "../../../styles/mixin";

.tooltip {
  max-width: 360px;

  :global {
    .ant-tooltip-inner {
      @include font-p1-semi-bold;
      color: #000;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--text-color-4);
}
