.component {
  width: 100%;
  height: 72px;
  padding: 24px;
  background-color: var(--color-card-bg);
  box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4);

  .header {
    position: absolute;
    z-index: 3;
  }

  .burger {
    :global(.burger.burger-squeeze) {
      width: 24px;
      height: 24px;
    }

    :global(.burger-lines),
    :global(.burger-lines):before,
    :global(.burger-lines):after {
      left: 0 !important;
      background-color: var(--text-color-4);
    }

    :global(.burger-lines):before {
      top: 0.6em;
    }

    :global(.burger-lines):after {
      top: -0.6em;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }

  .list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 0;
    height: 100%;
    padding: 112px 24px 24px;
    visibility: hidden;
    overflow: hidden;
    background-color: var(--bg-color-2);
    transition: all 0.4s ease;
  }

  &.isOpen {
    .mask {
      width: 100%;
      visibility: visible;
    }

    .list {
      width: 275px;
      visibility: visible;
    }
  }
}

.link:global(.ant-btn.ant-btn-link) {
  padding: 12px 0;

  p {
    font-size: 14px;
    line-height: 24px;
  }

  .active {
    position: absolute;
    left: -24px;
    z-index: 3;
    width: 4px;
    height: 100%;
    background: #fff;
    border-radius: 0 4px 4px 0;
  }
}
