.component {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  margin: 0;
  padding: 24px;
  background: var(--theme-card-color);
  box-shadow: 0 16px 32px rgba(255, 67, 57, 0.04);
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;

  :global(.ant-radio-inner) {
    width: 24px;
    height: 24px;
    background: var(--theme-body-color);
    border: 2px solid var(--theme-icon-color);

    &::after {
      display: none;
    }
  }

  &:global(.ant-radio-wrapper-checked) {
    border: 1px solid var(--theme-red-color);

    :global(.ant-radio-inner) {
      border: 8px solid var(--theme-red-color);
    }
  }
}
