.progress {
  display: flex;

  :global(.ant-progress-outer) {
    display: flex;
  }
}

.dataColumn {
  position: relative;
  padding-left: 16px;
  width: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color);
  }
}
