@import "src/mixin";

.component {
  display: grid;
  row-gap: 8px;
}

.label {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 8px;
  align-items: center;
  @include font-sm-semi-bold;
  color: #717980;
}
