@import "src/styles/mixin";

.component {
  background: var(--color-card-bg);
  box-shadow: var(--shadow-card);

  :global(.ant-card-head) {
    border-bottom: 1px solid var(--color-border);
  }

  :global(.ant-card-head-title) {
    padding: 24px 0;
  }

  :global(.ant-card-body) {
    padding: 24px;
  }

  :global(.ant-card-actions) > li {
    margin: 0;
  }
}
