.stakeColumns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px 16px;
  margin-bottom: 32px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.stakeCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.stakeCardHeader {
  height: 73px;
}
