.component {
  font: var(--font-p1);
  font-weight: 600;
  width: 100%;
  min-height: 64px;
  padding: 20px 24px;
  background: var(--theme-input-background);
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  color: var(--theme-primary-color);

  &::placeholder {
    color: var(--theme-input-placeholder);
  }
}
