@import 'src/styles/text';

.component {
  width: 100%;
  min-height: 64px;
  padding: 20px 24px;
  background: var(--theme-body-color);
  border: 1px solid var(--theme-border-color);
  border-radius: 4px;
  @include font-p1-semi-bold;
  color: var(--theme-icon-color);
}
