@import "src/mixin";

.component {
  width: 100%;
  min-height: 64px;
  padding: 20px 24px;
  background: #fff;
  border: 1px solid #e3e4e6;
  border-radius: 4px;
  @include font-p1-semi-bold;
  color: #aaafb3;
}
