@import "src/styles/mixin";

.component {
  width: 100%;
  min-height: 64px;
  padding: 20px 24px;
  background: var(--color-body-bg);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  @include font-p1-semi-bold;
  color: var(--color-icons);
}
