.tabs.tabs {
  > :global(.ant-tabs-nav) {
    border-left: 0;
    border-right: 0;
    height: 74px;
    padding: 0 64px;

    @media (max-width: 480px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
