@import "src/styles/mixin";

.container {
}

.tabs:global > {
  .ant-tabs-nav {
    height: 71px;
    background: #fff;
    border-top: 1px solid #e3e4e6;

    &:before {
      border-bottom: 1px solid #e3e4e6;
    }

    .ant-tabs-nav-wrap {
      margin-left: 64px;
    }
  }
}

.content {
  padding: 32px 150px;
}