
.container {
  display: flex;
  background-color: var(--color-card-bg);
  box-shadow: var(--shadow-card);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 16px;
  min-width: 225px;
  text-align: left;
}

.container.active {
  border-color: var(--text-color-red500);
}

.icon {
  // width: 40px;
  margin-right: 16px;
  display: flex;
}
