@import "src/mixin";

.component {
  width: 100%;
  height: 64px;

  :global {
    .ant-input {
      min-width: 40px;
      min-height: 32px;
      height: 64px;
      padding: 20px 16px;
      background: var(--bg-color-1);
      border: 1px solid var(--border-color-1);
      border-radius: 4px;
      outline: none;
      box-shadow: none;
      @include font-p1-semi-bold;
      color: #fff;

      &::placeholder {
        @include font-p1-semi-bold;
        color: #606268;
      }
    }
  }
}
