@import 'src/styles/text';

.statistics {
  display: flex;
  flex-direction: column;
}

.defs {
  margin: 0;
  padding: 24px;
}

.def {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }

  dt {
    @include font-sm-semi-bold;
    color: var(--theme-secondary-color);
  }

  dd {
    @include font-p1-semi-bold;
    color: var(--theme-primary-color);
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  background-color: var(--theme-body-color);
  border-radius: 4px;
  margin: auto 4px 4px;
  padding: 16px;
}

.footerReward {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
