@font-face {
    font-family: Montserrat;
    src: url('resources/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url('resources/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url('resources/fonts/Montserrat-Bold.ttf');
}

body {
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease;
}

svg, svg * {
    transition: none !important;
}

button {
    font-family: Montserrat;
}

#root {
    min-height: 100vh;
}

[text-elipsis] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-modal .ant-modal-body {
    background-color: var(--bg-color-2) !important;
}

.ant-modal .ant-modal-footer:empty {
    display: none;
}

.ant-modal .ant-modal-close {
    color: var(--text-color-4);
}

:root {
    --bg-color-1: #f8f8f8;
    --bg-color-2: #fff;
    --bg-color-3: #ff4339;
    --bg-color-4: #e3e4e6;
    --bg-color-5: #f6f8fe;
    --bg-color-6: rgba(170, 175, 179, 0.08);

    --text-color-1: #060a0d;
    --text-color-2: #717980;
    --text-color-3: #ff4339;
    --text-color-4: #aaafb3;
    --text-color-5: #000;
    --text-color-6: #4f6ae6;
    --text-color-7: #95a6ef;
    --text-color-8: #f6ae5;
    --text-color-9: #7288ea;

    --border-color-1: #e3e4e6;
    --border-color-2: #e3e4e6;

    --shadow-color-1: rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);
}

.theme-dark {
    --bg-color-1: #202529;
    --bg-color-2: #2b2f33;
    --bg-color-3: #fff;
    --bg-color-4: #43484d;
    --bg-color-5: rgba(79, 106, 230, 0.08);
    --bg-color-6: rgba(147, 148, 150, 0.08);;

    --text-color-1: #fff;
    --text-color-2: #939496;
    --text-color-3: #ff4339;
    --text-color-4: #606268;
    --text-color-5: #fff;
    --text-color-6: #7288ea;
    --text-color-7: #4f6ae5;
    --text-color-8: #95a6ef;

    --border-color-1: #44494d;
    --border-color-2: #ff4339;

    --shadow-color-1: rgba(255, 255, 255, 0.4), 0 8px 16px rgba(0, 0, 0, 0.08);
}
