@font-face {
    font-family: Montserrat;
    src: url('resources/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url('resources/fonts/Montserrat-Bold.ttf');
}

body {
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

button {
    font-family: Montserrat;
}

#root {
    min-height: 100vh;
}

[text-elipsis] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-modal .ant-modal-footer:empty {
    display: none;
}

.ant-modal .ant-modal-close {
    color: #aaafb3;
}

.mobile-not-available-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    padding: 24px;
    background-color: #13202b;
}

.mobile-not-available-wrap p {
    margin: 0 0 8px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}

.mobile-not-available-wrap p:nth-child(1),
.mobile-not-available-wrap p:nth-child(2) {
    font-weight: bold;
    font-size: 38px;
    line-height: 40px;
}

.mobile-not-available-wrap p:nth-child(2) {
    margin: 0 0 24px;
}
