.component {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2px);
    margin-left: 1px;
}

.header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 40px);
    grid-gap: 6px;
    padding: 24px;
    background-color: var(--bg-color-2);
    box-shadow: 0 8px 16px rgba(113, 121, 128, 0.08), 0 0 0.5px rgba(6, 10, 13, 0.4);
    border-radius: 4px;
}

.col {
    height: 44px;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-1);
}

.col:nth-child(1) {
    display: flex;
    flex-direction: row;
}

.label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-2);
}

.value {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-1);
}

.logo svg {
    width: 24px;
    height: 24px;
}

.name {
    margin-left: 16px;
}

.arrow {
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-1);
    border-color: var(--border-color-1);
    border-radius: 4px;
}

.arrow:hover {
    background-color: var(--bg-color-6);
    border: 1px solid var(--bg-color-6);
}

.body {
    overflow: hidden;
    max-height: 100%;
    border-top: 1px solid var(--border-color-1);
    background-color: var(--bg-color-1);
    box-shadow: 0 8px 16px rgba(113, 121, 128, 0.08), 0 0 0.5px rgba(6, 10, 13, 0.4);
    border-radius: 0 0 4px 4px;
    transition: transform 0.3s ease-out;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
}

.body.collapsed {
    height: 0;
    padding: 0;
    transform: scaleY(0);
}

.row1 {
    height: 92px;
    border-bottom: 1px solid var(--border-color-1);
}

.row1 {
    display: inline-flex;
    grid-gap: 64px;
    grid-template-columns: minmax(0, 1fr) auto;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.col2 {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: minmax(0, 356px) minmax(0, 356px);
}

.balanceRow {
    border-bottom: 1px solid var(--border-color-1);
}

.balanceRow :global .ant-col {
    padding: 24px;
}

.balanceRow :global .ant-col:not(:first-child) {
    border-left: 1px solid var(--border-color-1);
}

.balanceLabel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-2);
}

.balanceValue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-1);
}

.inputRow :global .ant-col {
    padding: 24px;
}

.inputLabel {
    margin-bottom: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color-2);
}

.inputValue :global .ant-input {
    border-right: none;
}

.inputValue :global .ant-input-group-addon {
    padding: 12px;
}

.inputMaxBtn {
    width: 100px;
    height: 38px;
    background-color: rgba(255, 67, 57, 0.1);
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--text-color-3);
}

.addonWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addonIcon {
    height: 24px;
}

.addonIcon svg {
    width: 24px;
    height: 24px;
}

.addonLabel {
    margin-left: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color-1);
}

.amountSlider {
    margin: 24px 0;
}

.gasGroup {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-row: 2;
    grid-gap: 16px;
}

.gasOption {
    height: 92px;
    padding: 24px 32px;
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color-1);
    box-sizing: border-box;
    border-radius: 4px;
}

.gasOption > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.gasOption:global(.ant-radio-button-wrapper:not(:first-child)::before) {
    display: none;
}

.gasOption:global(.ant-radio-button-wrapper) {
    border-left-color: var(--border-color-1) !important;
}

.gasOption:global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
    border: 1px solid var(--border-color-2) !important;
}

.gasOption:global(.ant-radio-button-wrapper-checked) {
    background-color: var(--bg-color-1);
}

.gasOption:global(.ant-radio-button-wrapper-checked) .gasOptionRadio {
    border: 8px solid var(--border-color-2);
}

.gasOptionName {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-1);
}

.gasOptionValue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-1);
}

.gasOptionRadio {
    width: 24px;
    height: 24px;
    border: 2px solid var(--border-color-1);
    border-radius: 50%;
}

.gasOptionRadio :global .ant-radio-inner {
    width: 24px;
    height: 24px;
    border: 2px solid var(--border-color-1);
}

.actionRow {
    padding: 8px 24px 24px;
}

.actionBtn {
    width: 180px;
    height: 64px;
    box-shadow: 0 8px 16px rgba(255, 67, 57, 0.16);
}

.actionBtn:disabled {
    background-color: var(--bg-color-4);
    color: var(--text-color-2);
}

.actionBtn:hover {
    background-color: var(--bg-color-6);
}

.innerCol1,
.innerCol2 {
    flex: 0 0 50%;
}

.walletBlnc {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .header {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 40px);
    }

    .col:nth-child(2) {
        display: none;
    }

    .innerCol1,
    .innerCol2 {
        flex: 0 0 100%;
    }

    .gasOption {
        padding: 24px 16px;
    }

    .walletBlnc {
        display: block;
    }

    .balanceRow :global .ant-col {
        border-left: none !important;
    }
}
