.addActionBtn {
  width: 100%;
  flex-direction: row-reverse;
}

.cardsContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  align-items: start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
