@import "../../../../styles/mixin";

.component {
}

.header {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}

.headerLabel {
  @include font-h1-bold;
  color: #060a0d;
}

.cards {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  width: 100%;
}

.cardBody {
  display: grid;
  grid-row-gap: 24px;
}

.addActionBtn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  margin: 20px 24px;
  width: -webkit-fill-available;

  svg {
    width: 22px;
    height: 22px;
  }
}

.actionRow {
  display: grid;
  grid-template-columns: auto 21px;
  grid-column-gap: 24px;
}

.createBtn {
  margin-top: 52px;
}
