@import "src/styles/mixin";

.tabs:global > {
  .ant-tabs-nav {
    margin-bottom: 32px;
    background-color: var(--color-card-bg);

    &::before {
      border-bottom: none;
    }

    .ant-tabs-tab {
      padding-bottom: 8px;

      .ant-tabs-tab-btn {
        @include font-p1-semi-bold;
        color: var(--text-color-grey500);

        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          color: var(--color-icons);
        }
      }

      &.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: var(--text-color-grey900);

        svg {
          color: var(--text-color-red500);
        }
      }
    }
  }
}
