.statusTag {
  min-width: 80px;
  height: 32px;
  padding: 8px 24px;
  border-radius: 32px;
  text-align: center;

  background: var(--bg-color);

  &.red {
    --bg-color: rgba(var(--theme-red-color-rgb), 0.08);
    --color: var(--theme-red-color);
  }

  &.green {
    --bg-color: rgba(var(--theme-green-color-rgb), 0.08);
    --color: var(--theme-green-color);
  }

  &.blue {
    --bg-color: rgba(var(--theme-blue-color-rgb), 0.08);
    --color: var(--theme-blue-color);
  }

  label {
    color: var(--color);
    display: block;
  }
}
