.container {
  align-items: flex-start;
  display: flex;
  gap: 32px;

  @media (max-width: 1024px) {
    align-items: stretch;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    gap: 8px;
  }
}

.content {
  flex-grow: 1;
  max-width: 640px;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: none;
  }
}

.sidebar {
  flex-shrink: 0;
  width: 482px;

  @media (max-width: 1200px) {
    width: 380px;
  }

  @media (max-width: 1024px) {
    width: auto;
  }
}
