.header {
  margin: 0 auto 64px;
  min-width: 640px;

  @media (max-width: 768px) {
    min-width: initial;
    margin: 0 0 24px;
  }
}

.content {
  flex-grow: 1;
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1024px) {
    max-width: none;
  }
}
