.cardTitleContainer {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 16px;
  min-height: 97px;

  @media (max-width: 480px) {
    gap: 24px 8px;
    display: flex;
    flex-wrap: wrap;
    min-height: inherit;

    a {
      width: 100%;
    }
  }
}
