.component {
  :global(.ant-input-group) {
    height: 64px;

    :global(.ant-input) {
      height: 64px;
    }

    :global(.ant-input-group-addon) {
      &:first-of-type {
        width: 64px;
        padding: 0 20px;
      }
    }
  }
}
