@import 'src/styles/mixin';

.component {
  :global(.ant-input-group) {
    height: 64px;

    :global(.ant-input) {
      height: 64px;
    }

    :global(.ant-input-group-addon) {
      &:first-of-type {
        padding: 0 20px;
        width: 64px;
      }

      &:last-of-type {
        min-width: 106px;
      }
    }
  }

  .maxBtn {
    width: 98px;
  }
}
