@import "../../../styles/mixin";

.input {
  :global {
    .ant-input-group {
      border: 1px solid #e3e4e6;
      border-radius: 4px;
    }

    .ant-input-group-addon {
      background: #fff;
      border: none;

      &:first-child {
        padding: 12px 24px;
      }
    }

    .ant-input {
      background: #fff;
      border: none;
      border-left: 1px solid #e3e4e6;
      border-radius: 0;
      @include font-p1-semi-bold;
      color: #060a0d;
    }
  }
}

.addonBefore {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  column-gap: 8px;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
  }

  .label {
    @include font-sm-semi-bold;
    color: #060a0d;
  }
}

.addonAfter {
  width: 98px;
}
