.component {
    background: #fff;
    box-shadow: 0 0 0.5px rgba(6, 10, 13, 0.4), 0 8px 16px rgba(113, 121, 128, 0.08);
    border-radius: 4px;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    border-bottom: 1px solid #e3e4e6;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #e3e4e6;
}

.row2 .col1 {
    width: 50%;
    padding: 24px;
    border-right: 1px solid #e3e4e6;
}

.row2 .col2 {
    width: 50%;
    padding: 24px;
}

.row3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    border-bottom: 1px solid #e3e4e6;
}

.row4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
}

.row_label {
    margin-bottom: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #717980;
}

.row_value {
    margin-bottom: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #060a0d;
}

.row_value_2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #717980;
}

.pool_stack_bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8px;
    margin-bottom: 32px;
    border-radius: 4px;
    background-color: #e3e4e6;
}

.pool_stack_bar div {
    height: 8px;
}

.pool_stack_bar div:hover {
    height: 16px;
    transform: translateY(-4px);
}

.pool_stack_bar div:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pool_stack_bar div:first-child:hover {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.pool_stack_bar div:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pool_stack_bar div:last-child:hover {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.balance_tooltip {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
}

.balance_tooltip svg {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.balance_tooltip > span:nth-child(2) {
    margin-right: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #717980;
}

.balance_tooltip > span:nth-child(3) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #060a0d;
}

.stakingBtn {
    margin: 0 0 0 auto;
}

.pool_avatars {
    margin-right: 24px;
}

.pool_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.pool_label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #060a0d;
}

.pool_epoch {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ff4339;
}
