.layout {
  background: var(--theme-body-color);
  display: flex;
  min-height: 100vh;

  @media (max-width: 768px) {
    display: block;
  }
}

.main {
  grid-area: content;
}

.footer {
  background: var(--theme-body-color);
  grid-area: footer;
  margin-top: auto;
  padding: 64px;

  a {
    color: var(--theme-default-color);

    &:hover,
    &:active {
      color: var(--theme-primary-color);
    }
  }
}
