@import 'src/styles/text';

.component:global(.ant-popover) {
  pointer-events: all !important;

  :global(.ant-popover-inner-content) {
    padding: 0;

    :global(.ant-menu) {
      border-radius: 4px;
    }

    :global(.ant-menu-item) {
      @include font-p1-semi-bold;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(auto-fit, minmax(0, max-content));
      column-gap: 8px;
      align-items: center;
      justify-content: flex-start;
      margin: 4px;
      color: var(--theme-secondary-color);

      &:global(.ant-menu-item-active) {
        background: var(--theme-body-color);
        border-radius: 4px;
        color: var(--theme-primary-color);

        svg {
          color: var(--theme-secondary-color);
        }
      }
    }
  }
}
